# .gitattributes

# always use Unix LF
.gitattributes eol=lf
Makefile text eol=lf
*.mk text eol=lf
*.bash text eol=lf
#nbproject/*.xml text eol=crlf

# binary - do not touch
*.PNG binary
*.sch binary
